.cartContainer-contenedor {
  margin: 1rem;
}

.itemCart {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.itemCart-detalles {
  width: 20rem;
}

.itemCart-img {
  width: 150px;
  border-radius: 0.5rem;
}

.itemCart-cantidad {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemCart-botones {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.itemCart-total {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: end;
  gap: 1rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
}
