.cartContainer-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 85vh;
  background-color: #dadada;
  padding: 0.5rem;
}

@media screen and (max-width: 960px) {
  .cartContainer-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.itemCart-vacio {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: #ffff;
  height: 15rem;
  color: #dadada;
}
