.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #dadada;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.cargando {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3,
h4 {
  text-align: center;
}
